<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-a3h7kq7cdaxor7l0.us.auth0.com</string>
	<key>ClientId</key>
	<string>HUTURbLbljz2uilbTN6ag99qdD1Uh23d</string>
</dict>
</plist>
